.main {
    background-color: #938b7c;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(8px + 2vmin);
    color: white;
}

.container {
	margin: 0 auto;
	width: 40%;
	background-color: #656057;
	border-radius: 8px;
	padding: 12px 32px;
	box-shadow: 4px 4px 6px #b5a7a7;
}
